<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="CSVWithMetadataHeaderOutputFormat" class="au.org.emii.geoserver.wfs.response.CSVWithMetadataHeaderOutputFormat">
        <constructor-arg index="0" ref="geoServer"/>
        <constructor-arg index="1" ref="catalog"/>
    </bean>
</beans>
