.DS_Store
target
*~
*.swp
*.swo
*.iml
target
stacktrace.log
.DS_Store
DELETED_UNIT_TESTS
.classpath
.project
.settings
target-eclipse
.link_to_grails_plugins
*.lock
plugins
overlays
\#*\#
.\#*

# Include code style settings for IntelliJ IDEA projects
.idea/*
!.idea/codeStyleSettings.xml


