<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="notifierProcess" class="au.org.emii.wps.NotifierProcess">
        <constructor-arg index="0" ref="wpsResourceManager"/>
        <constructor-arg index="1" ref="simpleHttpNotifier"/>
    </bean>
    <bean id="simpleHttpNotifier" class="au.org.emii.wps.SimpleHttpNotifier">
        <constructor-arg index="0" ref="httpClient"/>
    </bean>
    <bean id="httpClient" class="org.geotools.data.ows.SimpleHttpClient"/>
</beans>
