<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="netcdfOutputProcess" class="au.org.emii.wps.NetcdfOutputProcess">
      <constructor-arg index="0" ref="wpsResourceManager"/>
      <constructor-arg index="1" ref="catalog"/>
      <constructor-arg index="2" ref="servletContext"/>
    </bean>
</beans>
