<?xml version="1.0" encoding="UTF-8"?>
<!--

Copyright 2013 IMOS

The AODN/IMOS Portal is distributed under the terms of the GNU General Public License

-->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <!--  dispatcher -->
  <bean id="dispatcher" class="org.geoserver.ows.DispatcherWithHttpStatus"/>
</beans>
