<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
  <bean id="goGoDuckProcess" class="au.org.emii.wps.GoGoDuckProcess">
    <constructor-arg index="0" ref="wpsResourceManager"/>
    <constructor-arg index="1" ref="geoServer"/>
    <constructor-arg index="2" ref="resourceLoader"/>

    <property name="urlMangling">
      <map>
        <entry key="^CARS2009_Australia_weekly.nc$" value="/mnt/imos-t3/climatology/CARS/2009/eMII-product/CARS2009_Australia_weekly.nc"/>
        <entry key="^CARS2009_World_monthly.nc$"    value="/mnt/imos-t3/climatology/CARS/2009/eMII-product/CARS2009_World_monthly.nc"/>
        <entry key="^/mnt/imos-t3/"                 value="https://data.aodn.org.au/"/>
        <entry key="^/mnt/opendap/2/SRS/"           value="https://thredds.aodn.org.au/thredds/fileServer/srs/"/>
        <entry key="^IMOS/"                         value="https://imos-data.aodn.org.au/IMOS/"/>
      </map>
    </property>
  </bean>
</beans>
