<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="goGoDuckProcess" class="au.org.emii.wps.GoGoDuckProcess">
        <constructor-arg index="0" ref="wpsResourceManager"/>
        <constructor-arg index="1" ref="retryingHttpNotifier"/>
        <constructor-arg index="2" ref="catalog"/>
        <constructor-arg index="3" ref="resourceLoader"/>
        <constructor-arg index="4" ref="geoServer"/>

        <property name="urlMangling">
            <map>
                <entry key="^CARS2009_Australia_weekly.nc$" value="/mnt/imos-t3/climatology/CARS/2009/eMII-product/CARS2009_Australia_weekly.nc"/>
                <entry key="^CARS2009_World_monthly.nc$"    value="/mnt/imos-t3/climatology/CARS/2009/eMII-product/CARS2009_World_monthly.nc"/>
                <entry key="^/mnt/imos-t3/"                 value="https://data.aodn.org.au/"/>
                <entry key="^/mnt/opendap/2/SRS/"           value="https://thredds.aodn.org.au/thredds/fileServer/srs/"/>
                <entry key="^IMOS/"                         value="http://imos-data.aodn.org.au/IMOS/"/>
            </map>
        </property>
    </bean>

    <bean id="retryingHttpNotifier" class="au.org.emii.notifier.RetryingHttpNotifier">
        <constructor-arg index="0" ref="simpleHttpNotifier"/>
        <constructor-arg index="1" value="3" />
        <constructor-arg index="2" value="300000" />
    </bean>
    <bean id="simpleHttpNotifier" class="au.org.emii.notifier.SimpleHttpNotifier">
        <constructor-arg index="0" ref="httpClient"/>
    </bean>
    <bean id="httpClient" class="org.geotools.data.ows.SimpleHttpClient"/>

    <bean id="netcdfOutputProcess" class="au.org.emii.wps.NetcdfOutputProcess">
        <constructor-arg index="0" ref="wpsResourceManager"/>
        <constructor-arg index="1" ref="retryingHttpNotifier"/>
        <constructor-arg index="2" ref="catalog"/>
        <constructor-arg index="3" ref="servletContext"/>
        <constructor-arg index="4" ref="geoServer"/>
    </bean>
 </beans>
