<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="provenanceWriter" class="au.org.emii.wps.provenance.ProvenanceWriter">
        <constructor-arg index="0" ref="resourceLoader"/>
    </bean>

    <bean id="catalogueReaderConfigLoader" class="au.org.emii.wps.catalogue.CatalogueReaderConfigLoader">
        <constructor-arg index="0" ref="resourceLoader"/>
    </bean>

    <bean id="metadataCatalogue" class="au.org.emii.wps.catalogue.CatalogueReader">
        <constructor-arg index="0">
            <bean factory-bean="catalogueReaderConfigLoader" factory-method="load"/>
        </constructor-arg>
    </bean>

    <bean id="goGoDuckProcess" class="au.org.emii.wps.GoGoDuckProcess">
        <constructor-arg index="0" ref="wpsResourceManager"/>
        <constructor-arg index="1" ref="provenanceWriter"/>
        <constructor-arg index="2" ref="retryingHttpNotifier"/>
        <constructor-arg index="3" ref="catalog"/>
        <constructor-arg index="4" ref="resourceLoader"/>
        <constructor-arg index="5" ref="geoServer"/>
        <constructor-arg index="6" ref="metadataCatalogue"/>
    </bean>

    <bean id="retryingHttpNotifier" class="au.org.emii.notifier.RetryingHttpNotifier">
        <constructor-arg index="0" ref="simpleHttpNotifier"/>
        <constructor-arg index="1" value="3" />
        <constructor-arg index="2" value="300000" />
    </bean>
    <bean id="simpleHttpNotifier" class="au.org.emii.notifier.SimpleHttpNotifier">
        <constructor-arg index="0" ref="httpClient"/>
    </bean>
    <bean id="httpClient" class="org.geotools.data.ows.SimpleHttpClient"/>

    <bean id="netcdfOutputProcess" class="au.org.emii.wps.NetcdfOutputProcess">
        <constructor-arg index="0" ref="wpsResourceManager"/>
        <constructor-arg index="1" ref="provenanceWriter"/>
        <constructor-arg index="2" ref="retryingHttpNotifier"/>
        <constructor-arg index="3" ref="catalog"/>
        <constructor-arg index="4" ref="servletContext"/>
        <constructor-arg index="5" ref="geoServer"/>
        <constructor-arg index="6" ref="metadataCatalogue"/>
    </bean>
 </beans>
