<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="ncwmsConfig" class="au.org.emii.geoserver.wms.NcwmsConfig">
        <constructor-arg index="0" ref="resourceLoader"/>
    </bean>

    <bean id="geoserverUrlIndex" class="au.org.emii.geoserver.wms.GeoserverUrlIndex">
        <constructor-arg index="0" ref="catalog"/>
    </bean>

    <!-- Spring will reference the instance of the Ncwms class
           by the id name "ncwms" -->
    <bean id="ncwms" class="au.org.emii.geoserver.wms.Ncwms">
        <constructor-arg index="0" ref="geoserverUrlIndex"/>
        <constructor-arg index="1" ref="ncwmsConfig"/>
    </bean>

    <!-- This creates a Service descriptor, which allows the org.geoserver.ows.Dispatcher
           to locate it. -->
    <bean id="ncwms-1.0.0" class="org.geoserver.platform.Service">
    <!-- used to reference the service in the URL -->
        <constructor-arg index="0" value="ncwms"/>

        <!-- our actual service POJO defined previously -->
        <constructor-arg index="1" ref="ncwms"/>

        <!-- a version number for this service -->
        <constructor-arg index="2" value="1.0.0"/>

        <!-- a list of functions for this service -->
        <constructor-arg index="3">
            <list>
                <value>getMetadata</value>
                <value>getMap</value>
                <value>getLegendGraphic</value>
                <value>getFeatureInfo</value>
            </list>
        </constructor-arg>
    </bean>

    <bean id="paletteKvpParser" class="org.geoserver.wms.kvp.PaletteKvpParser">
        <property name="service" value="WMS"/>
        <!-- Avoid the palleteKvpParser denying palettes that are not defined
             in geoserver but may be defined on thredds (ncwms) -->
    </bean>

    <!-- http url mapping -->
    <bean id="ncwmsURLMapping"
        class="org.geoserver.ows.OWSHandlerMapping">
        <constructor-arg ref="catalog"/>
        <property name="alwaysUseFullPath" value="true"/>
        <property name="mappings">
            <props>
                <prop key="/ncwms">dispatcher</prop>
                <prop key="/ncwms/*">dispatcher</prop>
            </props>
        </property>
    </bean>
</beans>
